In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('../Resources/diagnosis-of-covid-19-and-its-clinical-spectrum.csv')
dataset.tail()

,patient_id,patient_age_quantile,sars_cov_2_exam_result,patient_addmited_to_regular_ward_1_yes_0_no,patient_addmited_to_semi_intensive_unit_1_yes_0_no,patient_addmited_to_intensive_care_unit_1_yes_0_no,hematocrit,hemoglobin,platelets,mean_platelet_volume,...,hb_saturation_arterial_blood_gases,pco2_arterial_blood_gas_analysis,base_excess_arterial_blood_gas_analysis,ph_arterial_blood_gas_analysis,total_co2_arterial_blood_gas_analysis,hco3_arterial_blood_gas_analysis,po2_arterial_blood_gas_analysis,arteiral_fio2,phosphor,cto2_arterial_blood_gas_analysis
5639,ae66feb9e4dc3a0,3,positive,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,f,f,f,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#drop some of the sparsely populated columns in the end
dataset_new = dataset.drop(columns=["cto2_arterial_blood_gas_analysis", "phosphor", "arteiral_fio2", "po2_arterial_blood_gas_analysis", "hco3_arterial_blood_gas_analysis", "total_co2_arterial_blood_gas_analysis", "ph_arterial_blood_gas_analysis", "base_excess_arterial_blood_gas_analysis","pco2_arterial_blood_gas_analysis", "hb_saturation_arterial_blood_gases", "albumin", "d_dimer", "d_dimer", "lipase_dosage", "arterial_lactic_acid", "ferritin", "creatine_phosphokinase_cpk", "vitamin_b12", "prothrombin_time_pt_activity",
                                   "lactic_dehydrogenase","international_normalized_ratio_inr","relationship_patient_normal", "partial_thromboplastin_time_ptt" ])

dataset_new.head()

,patient_id,patient_age_quantile,sars_cov_2_exam_result,patient_addmited_to_regular_ward_1_yes_0_no,patient_addmited_to_semi_intensive_unit_1_yes_0_no,patient_addmited_to_intensive_care_unit_1_yes_0_no,hematocrit,hemoglobin,platelets,mean_platelet_volume,...,urine_urobilinogen,urine_protein,urine_sugar,urine_leukocytes,urine_crystals,urine_red_blood_cells,urine_hyaline_cylinders,urine_granular_cylinders,urine_yeasts,urine_color
0,44477f75e8169d2,13,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,f,f,f,0.236515,-0.02234,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#drop some of the columns that has no important info to offer
dataset_new_2 = dataset_new.drop(columns=["patient_addmited_to_regular_ward_1_yes_0_no","patient_addmited_to_semi_intensive_unit_1_yes_0_no", "patient_addmited_to_intensive_care_unit_1_yes_0_no"])
dataset_new_2.head()

,patient_id,patient_age_quantile,sars_cov_2_exam_result,hematocrit,hemoglobin,platelets,mean_platelet_volume,red_blood_cells,lymphocytes,mean_corpuscular_hemoglobin_concentration_mchc,...,urine_urobilinogen,urine_protein,urine_sugar,urine_leukocytes,urine_crystals,urine_red_blood_cells,urine_hyaline_cylinders,urine_granular_cylinders,urine_yeasts,urine_color
0,44477f75e8169d2,13,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0.236515,-0.02234,-0.517413,0.010677,0.102004,0.318366,-0.95079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# a new dataframe consisting of columns to be encoded

dataset_new_2_encoding = dataset_new_2[["respiratory_syncytial_virus","influenza_a","influenza_b","parainfluenza_1","coronavirusnl63","rhinovirus_enterovirus","coronavirus_hku1","parainfluenza_3","chlamydophila_pneumoniae","adenovirus","parainfluenza_4","coronavirus229e","coronavirusoc43","inf_a_h1n1_2009","bordetella_pertussis","metapneumovirus", "parainfluenza_2", "influenza_b_rapid_test", "influenza_a_rapid_test"]].copy()
dataset_new_2_encoding.head()

,respiratory_syncytial_virus,influenza_a,influenza_b,parainfluenza_1,coronavirusnl63,rhinovirus_enterovirus,coronavirus_hku1,parainfluenza_3,chlamydophila_pneumoniae,adenovirus,parainfluenza_4,coronavirus229e,coronavirusoc43,inf_a_h1n1_2009,bordetella_pertussis,metapneumovirus,parainfluenza_2,influenza_b_rapid_test,influenza_a_rapid_test
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,not_detected,not_detected,not_detected,not_detected,not_detected,detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,negative,negative
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,not_detected,not_detected,not_detected,not_detected,not_detected,detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,NaN,NaN

In [12]:
dataset_new_2_encoding_2 = pd.get_dummies(dataset_new_2_encoding,drop_first=True)
dataset_new_2_encoding_2.head()

,respiratory_syncytial_virus_not_detected,influenza_a_not_detected,influenza_b_not_detected,parainfluenza_1_not_detected,coronavirusnl63_not_detected,rhinovirus_enterovirus_not_detected,coronavirus_hku1_not_detected,parainfluenza_3_not_detected,chlamydophila_pneumoniae_not_detected,adenovirus_not_detected,parainfluenza_4_not_detected,coronavirus229e_not_detected,coronavirusoc43_not_detected,inf_a_h1n1_2009_not_detected,bordetella_pertussis_not_detected,metapneumovirus_not_detected,influenza_b_rapid_test_positive,influenza_a_rapid_test_positive
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,0,0

In [13]:
# create another data frame with columns required for x but doesn't need onehotencoding
dataset_new_2_encoding_3 = dataset_new_2[["patient_age_quantile", "neutrophils", "urea", "proteina_c_reativa_mg_dl", "creatinine","potassium","sodium"]].copy()
dataset_new_2_encoding_3.head()

,patient_age_quantile,neutrophils,urea,proteina_c_reativa_mg_dl,creatinine,potassium,sodium
0,13,NaN,NaN,NaN,NaN,NaN,NaN
1,17,-0.619086,1.198059,-0.147895,2.089928,-0.305787,0.862512
2,8,NaN,NaN,NaN,NaN,NaN,NaN
3,5,NaN,NaN,NaN,NaN,NaN,NaN
4,15,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#merge the two above dataframes
dataset_new_2_encoding_merged = pd.concat([dataset_new_2_encoding_3,dataset_new_2_encoding_2], axis=1)
dataset_new_2_encoding_merged.head()

,patient_age_quantile,neutrophils,urea,proteina_c_reativa_mg_dl,creatinine,potassium,sodium,respiratory_syncytial_virus_not_detected,influenza_a_not_detected,influenza_b_not_detected,...,chlamydophila_pneumoniae_not_detected,adenovirus_not_detected,parainfluenza_4_not_detected,coronavirus229e_not_detected,coronavirusoc43_not_detected,inf_a_h1n1_2009_not_detected,bordetella_pertussis_not_detected,metapneumovirus_not_detected,influenza_b_rapid_test_positive,influenza_a_rapid_test_positive
0,13,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,17,-0.619086,1.198059,-0.147895,2.089928,-0.305787,0.862512,1,1,1,...,1,1,1,1,1,1,1,1,0,0
2,8,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,15,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,...,1,1,1,1,1,1,1,1,0,0

In [16]:
# choose 1st model features, mainly based on the blood test features, urine test will be put in 2nd model
X = dataset_new_2_encoding_merged.values
y = dataset_new_2["sars_cov_2_exam_result"].values
print(X)

[[13.                 nan         nan ...  0.          0.
   0.        ]
 [17.         -0.61908603  1.19805908 ...  1.          0.
   0.        ]
 [ 8.                 nan         nan ...  0.          0.
   0.        ]
 ...
 [ 4.                 nan         nan ...  0.          0.
   0.        ]
 [10.                 nan         nan ...  0.          0.
   0.        ]
 [19.          0.38068476  0.45372501 ...  0.          0.
   0.        ]]

In [17]:
print(y)

['negative' 'negative' 'negative' ... 'negative' 'negative' 'positive']

In [18]:
#taking care of missing data
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:7])
X[:, 1:7] = imputer.transform(X[:, 1:7])

In [19]:
print(X)

[[ 1.30000000e+01  5.90836121e-09 -6.67526046e-09 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 1.70000000e+01 -6.19086027e-01  1.19805908e+00 ...  1.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 8.00000000e+00  5.90836121e-09 -6.67526046e-09 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 ...
 [ 4.00000000e+00  5.90836121e-09 -6.67526046e-09 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 1.00000000e+01  5.90836121e-09 -6.67526046e-09 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 1.90000000e+01  3.80684763e-01  4.53725010e-01 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]]

In [20]:
#encoding variable
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)
print(y)

[0 0 0 ... 0 0 1]

In [21]:
# split data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state=42)

In [22]:
#Scale the data using the MinMaxScaler
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [23]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [24]:
from sklearn.svm import SVC 
model = SVC(kernel='rbf')
model.fit(X_train_scaled,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [25]:
print(f"Training Data Score: {model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

Training Data Score: 0.9038759689922481
Testing Data Score: 0.9043401240035429