In [58]:
from sklearn import tree
import pandas as pd
import numpy as np
import os

In [59]:
df = pd.read_csv(os.path.join('..', "arun/Resources/", 'diagnosis-of-covid-19-and-its-clinical-spectrum.csv'))

In [60]:
df.head()

,patient_id,patient_age_quantile,sars_cov_2_exam_result,patient_addmited_to_regular_ward_1_yes_0_no,patient_addmited_to_semi_intensive_unit_1_yes_0_no,patient_addmited_to_intensive_care_unit_1_yes_0_no,hematocrit,hemoglobin,platelets,mean_platelet_volume,...,hb_saturation_arterial_blood_gases,pco2_arterial_blood_gas_analysis,base_excess_arterial_blood_gas_analysis,ph_arterial_blood_gas_analysis,total_co2_arterial_blood_gas_analysis,hco3_arterial_blood_gas_analysis,po2_arterial_blood_gas_analysis,arteiral_fio2,phosphor,cto2_arterial_blood_gas_analysis
0,44477f75e8169d2,13,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,f,f,f,0.236515,-0.02234,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,f,f,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
pd.set_option('display.max_columns', None)

In [78]:
len(df)

5644

In [89]:
def check_NA(df):
    length = len(df)
    columns=df.columns.values.tolist()
    for column in columns:
        #if (df[column].isnull().sum() < 4000):
        sum=df[column].isnull().sum()
        if (sum > (0.9*length)):
            print("Column: ",column, " Total NaN: ",sum)
        
        #name.append(column)
        #count.append(df[column].isnull().sum())
        #sum=df[column].isnull().sum()
        #percent.append((df[column].isnull().sum())/len(df))
        #print("Column: ",column, " Total NaN: ",sum)

In [90]:
check_NA(df)

Column:  serum_glucose  Total NaN:  5436
Column:  mycoplasma_pneumoniae  Total NaN:  5644
Column:  neutrophils  Total NaN:  5131
Column:  urea  Total NaN:  5247
Column:  proteina_c_reativa_mg_dl  Total NaN:  5138
Column:  creatinine  Total NaN:  5220
Column:  potassium  Total NaN:  5273
Column:  sodium  Total NaN:  5274
Column:  alanine_transaminase  Total NaN:  5419
Column:  aspartate_transaminase  Total NaN:  5418
Column:  gamma_glutamyltransferase  Total NaN:  5491
Column:  total_bilirubin  Total NaN:  5462
Column:  direct_bilirubin  Total NaN:  5462
Column:  indirect_bilirubin  Total NaN:  5462
Column:  alkaline_phosphatase  Total NaN:  5500
Column:  ionized_calcium  Total NaN:  5594
Column:  strepto_a  Total NaN:  5312
Column:  magnesium  Total NaN:  5604
Column:  pco2_venous_blood_gas_analysis  Total NaN:  5508
Column:  hb_saturation_venous_blood_gas_analysis  Total NaN:  5508
Column:  base_excess_venous_blood_gas_analysis  Total NaN:  5508
Column:  po2_venous_blood_gas_analysis  Total NaN:  5508
Column:  fio2_venous_blood_gas_analysis  Total NaN:  5643
Column:  total_co2_venous_blood_gas_analysis  Total NaN:  5508
Column:  ph_venous_blood_gas_analysis  Total NaN:  5508
Column:  hco3_venous_blood_gas_analysis  Total NaN:  5508
Column:  rods  Total NaN:  5547
Column:  segmented  Total NaN:  5547
Column:  promyelocytes  Total NaN:  5547
Column:  metamyelocytes  Total NaN:  5547
Column:  myelocytes  Total NaN:  5547
Column:  myeloblasts  Total NaN:  5547
Column:  urine_esterase  Total NaN:  5584
Column:  urine_aspect  Total NaN:  5574
Column:  urine_ph  Total NaN:  5574
Column:  urine_hemoglobin  Total NaN:  5574
Column:  urine_bile_pigments  Total NaN:  5574
Column:  urine_ketone_bodies  Total NaN:  5587
Column:  urine_nitrite  Total NaN:  5643
Column:  urine_density  Total NaN:  5574
Column:  urine_urobilinogen  Total NaN:  5575
Column:  urine_protein  Total NaN:  5584
Column:  urine_sugar  Total NaN:  5644
Column:  urine_leukocytes  Total NaN:  5574
Column:  urine_crystals  Total NaN:  5574
Column:  urine_red_blood_cells  Total NaN:  5574
Column:  urine_hyaline_cylinders  Total NaN:  5577
Column:  urine_granular_cylinders  Total NaN:  5575
Column:  urine_yeasts  Total NaN:  5574
Column:  urine_color  Total NaN:  5574
Column:  partial_thromboplastin_time_ptt  Total NaN:  5644
Column:  relationship_patient_normal  Total NaN:  5553
Column:  international_normalized_ratio_inr  Total NaN:  5511
Column:  lactic_dehydrogenase  Total NaN:  5543
Column:  prothrombin_time_pt_activity  Total NaN:  5644
Column:  vitamin_b12  Total NaN:  5641
Column:  creatine_phosphokinase_cpk  Total NaN:  5540
Column:  ferritin  Total NaN:  5621
Column:  arterial_lactic_acid  Total NaN:  5617
Column:  lipase_dosage  Total NaN:  5636
Column:  d_dimer  Total NaN:  5644
Column:  albumin  Total NaN:  5631
Column:  hb_saturation_arterial_blood_gases  Total NaN:  5617
Column:  pco2_arterial_blood_gas_analysis  Total NaN:  5617
Column:  base_excess_arterial_blood_gas_analysis  Total NaN:  5617
Column:  ph_arterial_blood_gas_analysis  Total NaN:  5617
Column:  total_co2_arterial_blood_gas_analysis  Total NaN:  5617
Column:  hco3_arterial_blood_gas_analysis  Total NaN:  5617
Column:  po2_arterial_blood_gas_analysis  Total NaN:  5617
Column:  arteiral_fio2  Total NaN:  5624
Column:  phosphor  Total NaN:  5624
Column:  cto2_arterial_blood_gas_analysis  Total NaN:  5617

In [4]:
target = df['sars_cov_2_exam_result']

In [22]:
data = df.drop(['sars_cov_2_exam_result','patient_id', ''], axis=1)
feature_names = data.columns
data.head()

,patient_age_quantile,patient_addmited_to_regular_ward_1_yes_0_no,patient_addmited_to_semi_intensive_unit_1_yes_0_no,patient_addmited_to_intensive_care_unit_1_yes_0_no,hematocrit,hemoglobin,platelets,mean_platelet_volume,red_blood_cells,lymphocytes,...,hb_saturation_arterial_blood_gases,pco2_arterial_blood_gas_analysis,base_excess_arterial_blood_gas_analysis,ph_arterial_blood_gas_analysis,total_co2_arterial_blood_gas_analysis,hco3_arterial_blood_gas_analysis,po2_arterial_blood_gas_analysis,arteiral_fio2,phosphor,cto2_arterial_blood_gas_analysis
0,13,f,f,f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17,f,f,f,0.236515,-0.02234,-0.517413,0.010677,0.102004,0.318366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,f,f,f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,f,f,f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15,f,f,f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
data.columns

Index(['patient_age_quantile', 'patient_addmited_to_regular_ward_1_yes_0_no',
       'patient_addmited_to_semi_intensive_unit_1_yes_0_no',
       'patient_addmited_to_intensive_care_unit_1_yes_0_no', 'hematocrit',
       'hemoglobin', 'platelets', 'mean_platelet_volume', 'red_blood_cells',
       'lymphocytes',
       ...
       'hb_saturation_arterial_blood_gases',
       'pco2_arterial_blood_gas_analysis',
       'base_excess_arterial_blood_gas_analysis',
       'ph_arterial_blood_gas_analysis',
       'total_co2_arterial_blood_gas_analysis',
       'hco3_arterial_blood_gas_analysis', 'po2_arterial_blood_gas_analysis',
       'arteiral_fio2', 'phosphor', 'cto2_arterial_blood_gas_analysis'],
      dtype='object', length=109)

In [45]:
df1 = data.describe(include = 'all')


df1.loc['dtype'] = data.dtypes
df1.loc['size'] = len(data)
df1.loc['% count'] = data.isnull().mean()

In [46]:
df1

,patient_age_quantile,patient_addmited_to_regular_ward_1_yes_0_no,patient_addmited_to_semi_intensive_unit_1_yes_0_no,patient_addmited_to_intensive_care_unit_1_yes_0_no,hematocrit,hemoglobin,platelets,mean_platelet_volume,red_blood_cells,lymphocytes,...,hb_saturation_arterial_blood_gases,pco2_arterial_blood_gas_analysis,base_excess_arterial_blood_gas_analysis,ph_arterial_blood_gas_analysis,total_co2_arterial_blood_gas_analysis,hco3_arterial_blood_gas_analysis,po2_arterial_blood_gas_analysis,arteiral_fio2,phosphor,cto2_arterial_blood_gas_analysis
count,5644,5644,5644,5644,603,603,602,599,602,602,...,27,27,27,27,27,27,27,20,20,27
unique,NaN,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,f,f,f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,5565,5594,5603,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,9.31839,NaN,NaN,NaN,-2.18621e-09,-1.60132e-08,-3.535e-10,7.43814e-09,8.42445e-09,-7.86674e-09,...,-1.37973e-10,8.4164e-09,-1.65568e-09,4.13921e-10,-7.47214e-09,6.07084e-09,-2.46973e-08,4.65661e-09,6.33299e-09,5.243e-09
std,5.7779,NaN,NaN,NaN,1.00083,1.00083,1.00083,1.00084,1.00083,1.00083,...,1.01905,1.01905,1.01905,1.01905,1.01905,1.01905,1.01905,1.02598,1.02598,1.01905
min,0,NaN,NaN,NaN,-4.50142,-4.3456,-2.55243,-2.45757,-3.97061,-1.86507,...,-1.99956,-1.24482,-3.08267,-3.56888,-2.92562,-2.98559,-1.17591,-1.53293,-1.48053,-2.90025
25%,4,NaN,NaN,NaN,-0.518807,-0.586244,-0.605346,-0.662483,-0.56795,-0.730707,...,-1.12257,-0.53481,-0.330867,-0.0921058,-0.511772,-0.539721,-0.81699,-0.121498,-0.55273,-0.485279
50%,9,NaN,NaN,NaN,0.053407,0.040316,-0.121716,-0.101517,0.0138521,-0.014267,...,0.267769,-0.21208,-0.0118167,0.294202,0.0774348,0.0563319,-0.159955,-0.0117437,-0.138182,0.182693
75%,14,NaN,NaN,NaN,0.717175,0.729532,0.531498,0.683835,0.666176,0.597692,...,0.73835,0.0230521,0.666165,0.5115,0.438561,0.50851,0.450009,-0.0117437,0.276365,0.593753
max,19,NaN,NaN,NaN,2.6627,2.67187,9.53203,3.71305,3.64571,3.7641,...,1.33726,3.23652,1.70308,1.04267,1.94009,2.02947,2.20537,2.84186,2.86235,1.82693
dtype,int64,object,object,object,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
size,5644,5644,5644,5644,5644,5644,5644,5644,5644,5644,...,5644,5644,5644,5644,5644,5644,5644,5644,5644,5644
% count,0,0,0,0,0.893161,0.893161,0.893338,0.89387,0.893338,0.893338,...,0.995216,0.995216,0.995216,0.995216,0.995216,0.995216,0.995216,0.996456,0.996456,0.995216

In [49]:
data['patient_addmited_to_regular_ward_1_yes_0_no'].value_counts()

f    5565
t      79
Name: patient_addmited_to_regular_ward_1_yes_0_no, dtype: int64

In [48]:
data['patient_addmited_to_semi_intensive_unit_1_yes_0_no'].value_counts()

f    5594
t      50
Name: patient_addmited_to_semi_intensive_unit_1_yes_0_no, dtype: int64

In [51]:
data['patient_addmited_to_intensive_care_unit_1_yes_0_no'].value_counts()

f    5603
t      41
Name: patient_addmited_to_intensive_care_unit_1_yes_0_no, dtype: int64

In [57]:
df[df['patient_addmited_to_semi_intensive_unit_1_yes_0_no']=='t']

,patient_id,patient_age_quantile,sars_cov_2_exam_result,patient_addmited_to_regular_ward_1_yes_0_no,patient_addmited_to_semi_intensive_unit_1_yes_0_no,patient_addmited_to_intensive_care_unit_1_yes_0_no,hematocrit,hemoglobin,platelets,mean_platelet_volume,...,hb_saturation_arterial_blood_gases,pco2_arterial_blood_gas_analysis,base_excess_arterial_blood_gas_analysis,ph_arterial_blood_gas_analysis,total_co2_arterial_blood_gas_analysis,hco3_arterial_blood_gas_analysis,po2_arterial_blood_gas_analysis,arteiral_fio2,phosphor,cto2_arterial_blood_gas_analysis
8,8bb9d64f0215244,1,negative,f,t,f,-1.571682,-0.774212,1.429667,-1.672222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.730393,NaN
55,ac357896cbf35fc,19,negative,f,t,f,0.625621,0.353596,-0.127997,0.796029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,ecaa8e290af8461,19,negative,f,t,f,-0.518807,-0.586244,0.952319,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,1f9ef4c4c5cc30f,18,negative,f,t,f,1.358055,1.356092,-0.228491,-0.438097,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,0f2c3bd3954f19e,7,negative,f,t,f,-0.289922,-0.335620,0.223734,-0.213711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
928,dad2eecc9a0bf16,19,negative,f,t,f,-0.358588,-0.147652,-0.215930,-0.550290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.454028,NaN
1039,b64bc1acd95fd62,19,negative,f,t,f,0.556955,0.478908,2.183376,-0.213711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1179,9bd1c8c67b6cb11,19,negative,f,t,f,-0.885025,-0.836868,-0.454604,-0.213711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.217144,NaN
2126,aefa3304cbace4c,13,negative,f,t,f,-2.212562,-2.215300,-0.831458,-0.101517,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2144,eb0e780a17f68c2,19,negative,f,t,f,-2.166785,-1.902020,-1.321369,1.917961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3001,8331bc73200633e,13,negative,f,t,f,-1.640348,-2.089987,1.178431,-0.999063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3598,d88bc973d6012be,18,negative,f,t,f,-3.334102,-3.029827,2.535107,-1.896609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3676,14fbe519ce6d40e,19,negative,f,t,f,-0.267033,-0.335620,1.881893,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3795,466b972d10afe83,0,negative,f,t,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4111,fd044e5149604bd,10,negative,f,t,f,-1.503017,-1.651396,-0.856582,1.020415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4166,8bc35971aaa117e,0,negative,f,t,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4230,fa7d86dee13d173,1,negative,f,t,f,-1.823456,-2.027332,-0.881705,1.020415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.690912,NaN
4535,0502def18bdfe50,12,positive,f,t,f,0.534067,0.416252,-0.944515,-0.325903,...,0.481668,-0.147534,-0.370748,-0.140394,-0.416739,-0.436953,0.247995,NaN,NaN,0.902048
4562,44ceecd0b4b92f5,15,negative,f,t,f,-0.724805,-1.212804,0.650835,-0.550290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4565,c25ff06f215d126,18,negative,f,t,f,2.433818,1.606716,-0.542537,-0.101517,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4863,1e29f841c72888e,18,positive,f,t,f,-1.617460,-1.463427,0.550341,-0.438097,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.532989,NaN
4906,8d3014029429e16,19,negative,f,t,f,-4.501420,-4.345603,-1.761032,0.908221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4910,08f6348c4b14507,13,negative,f,t,f,-0.587474,-0.523588,0.550341,1.469188,...,-0.373929,-0.341172,0.067946,0.294202,-0.378725,-0.354739,-0.528679,NaN,NaN,-0.228366
4923,54dd23eff7482c2,0,negative,f,t,f,-0.701917,-0.648900,1.404544,-1.896609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4927,4969f04d86355b0,0,negative,f,t,f,-1.663236,-1.776707,-1.019885,1.132609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4933,656021b4962a6ad,19,negative,f,t,f,-0.267033,-1.087492,-0.316424,2.478927,...,-1.400642,0.931307,0.626284,-0.683640,1.369887,1.371759,-0.418846,-0.011744,NaN,-0.331131
4940,64c2fde0e301d31,17,negative,f,t,f,0.831618,0.729532,0.085554,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4952,f93a52e5ac45d1c,0,negative,f,t,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4954,cf36edd64087a9a,0,negative,f,t,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4957,30cb1119e01ee90,11,positive,f,t,f,1.564053,1.794683,-0.730964,0.122869,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4958,4a7e12e351b651c,0,negative,f,t,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4966,8998c2f359dfdf0,1,negative,f,t,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4972,eaccf0ab4665e80,0,negative,f,t,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4983,754e5f919875cc9,11,negative,f,t,f,-1.709013,-1.400772,-1.434425,-1.560029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4986,934f29f39102721,0,negative,f,t,f,-0.999468,-1.087492,0.801577,-1.111256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5004,e5aa8b867b628f4,15,positive,f,t,f,-0.244145,-0.210308,-0.567660,0.683835,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5005,5519059bc27162f,1,negative,f,t,f,-0.083925,-0.022340,-0.127997,0.683835,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5009,d0d7a0ee8d7e277,15,positive,f,t,f,-0.427254,-0.022340,-1.107818,-0.550290,...,-1.443424,-0.359614,0.666165,0.571861,0.039421,0.097439,-1.054307,NaN,NaN,-0.844956
5014,071f6f99d6bb9f0,0,negative,f,t,f,-1.182576,-0.836868,-0.153121,-1.896609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5027,083b2a959d7b2e8,2,negative,f,t,f,-1.091022,-0.774212,-0.643031,-0.999063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5066,7afa4ae44b27af4,19,negative,f,t,f,-0.267033,-0.398276,-0.730964,0.908221,...,-1.186743,0.295068,-0.290986,-0.526702,0.115448,0.097439,-0.834642,-1.401959,NaN,0.285458
5093,35eec7bde9638fa,0,negative,f,t,f,-0.770582,-0.648900,1.153308,-1.111256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5099,63d9b47532c1184,0,negative,f,t,f,0.053407,0.416252,0.123239,1.132609,...,-1.058405,3.125874,-3.082674,-3.568877,0.381541,-0.066989,-0.713041,0.646779,2.862350,0.285458
5148,96187ba4f1cb1b1,0,negative,f,t,f,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5161,8e0f05695e89b36,19,positive,f,t,f,-0.473031,-0.648900,-0.165682,0.235063,...,0.096652,-0.580914,0.546521,0.849520,0.001408,0.056332,0.950140,NaN,NaN,-1.153251
5165,88baf02b9f4c1b3,14,positive,f,t,f,0.740064,1.042812,-1.245998,0.010677,...,-1.999560,0.525589,1.224503,-0.092106,1.217834,1.289544,-0.960164,-0.011744,NaN,0.490988
5172,23544293f42ddb4,4,negative,f,t,f,-0.862136,-0.335620,-0.165682,-0.999063,...,0.866687,-1.244817,-2.245167,0.306274,-2.925618,-2.985592,-0.148187,NaN,NaN,-0.125601
5250,59c5e1c27d6f690,19,positive,f,t,f,0.556955,0.478908,-0.969638,1.132609,...,-1.272304,-0.728448,-0.091579,0.656366,-0.872898,-0.848024,-0.956242,-0.011744,NaN,0.079928
5434,086a0d57415cbfc,19,negative,f,t,f,-0.267033,-0.460932,2.082882,-1.111256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5581,36cb38a59ce2776,19,negative,f,t,f,-2.212562,-2.027332,0.826701,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
target.value_counts()

negative    5086
positive     558
Name: sars_cov_2_exam_result, dtype: int64

In [55]:
df[df['patient_addmited_to_intensive_care_unit_1_yes_0_no']=='t']

,patient_id,patient_age_quantile,sars_cov_2_exam_result,patient_addmited_to_regular_ward_1_yes_0_no,patient_addmited_to_semi_intensive_unit_1_yes_0_no,patient_addmited_to_intensive_care_unit_1_yes_0_no,hematocrit,hemoglobin,platelets,mean_platelet_volume,...,hb_saturation_arterial_blood_gases,pco2_arterial_blood_gas_analysis,base_excess_arterial_blood_gas_analysis,ph_arterial_blood_gas_analysis,total_co2_arterial_blood_gas_analysis,hco3_arterial_blood_gas_analysis,po2_arterial_blood_gas_analysis,arteiral_fio2,phosphor,cto2_arterial_blood_gas_analysis
110,a4b2116e0689f54,0,negative,f,f,t,-0.862136,-0.648900,1.630656,0.347255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,ecef5dfca43aa2e,1,negative,f,f,t,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412,8733b5587ba412f,19,negative,f,f,t,1.106281,0.854844,-0.894267,1.020415,...,0.738350,-0.046104,-0.091579,-0.092106,0.077435,0.056332,-0.042277,2.841856,NaN,0.490988
430,3a4c7aa4bed2c6a,0,negative,f,f,t,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
865,5c50590b1103c00,1,negative,f,f,t,-0.129702,-0.147652,0.600588,-1.447836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.993775,NaN
1468,ecd3203a3d14f9b,0,negative,f,f,t,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1845,4475e8fd314a180,1,negative,f,f,t,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1966,66342a96fc1f90b,14,positive,f,f,t,1.312279,1.606716,-1.685661,1.244801,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3180,3def6ac10295169,18,negative,f,f,t,-0.381476,-0.398276,-0.416919,1.581381,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3818,e453b3d4bd51d0d,19,positive,f,f,t,0.144961,0.165628,-0.416919,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4525,24d381dd4d4447d,0,negative,f,f,t,0.259404,0.478908,0.148363,0.235063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4636,33bbe2fb8df7a5b,0,negative,f,f,t,-1.709013,-1.651396,-0.768649,0.908221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4639,6a8d40ea05031e8,18,negative,f,f,t,-2.830554,-2.716547,-0.241053,1.244801,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.019740,NaN
4763,c4763ba49298f25,0,negative,f,f,t,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4893,36cbd1dd25ee3a1,19,negative,f,f,t,-1.136799,-2.089987,-0.906829,-1.111256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4897,30bfb33927acb18,18,positive,f,f,t,0.396736,0.666876,-0.366671,-0.550290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4899,680d440c979e1f1,18,positive,f,f,t,1.609830,1.732028,-0.693278,-0.662483,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4926,07c64f7b0ba4d10,19,negative,f,f,t,-3.265437,-3.593731,-0.153121,0.683835,...,0.995028,0.304289,1.703078,0.306274,1.940087,2.029471,0.216615,-0.450759,-1.480526,-2.900254
4928,c24489c2c092940,1,negative,f,f,t,-0.335699,-0.272964,1.869331,-1.896609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4948,757b47a2330687a,19,negative,f,f,t,-1.800568,-1.714052,1.467353,-0.886869,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4949,1b6b1b5d58b2e68,0,negative,f,f,t,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5015,b431d81c05626fa,0,negative,f,f,t,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5017,c68a37fa5820769,18,positive,f,f,t,-0.358588,-0.147652,0.273981,0.122869,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5020,179b15db7f59dd9,0,negative,f,f,t,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5054,2e82de79489e0b8,0,negative,f,f,t,-0.885025,-1.087492,-0.793773,-0.662483,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5144,d9c2385bfe97417,19,negative,f,f,t,-0.541696,-0.836868,9.532034,-0.774677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256624,NaN
5169,e4170692991ff53,1,positive,f,f,t,-1.159688,-1.087492,0.512655,-1.896609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5173,f8484cba3fae34f,0,negative,f,f,t,-0.289922,-0.335620,3.376748,-1.223449,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5196,d584d2cf7d09e1e,11,positive,f,f,t,-0.450142,0.040316,-0.492289,-0.774677,...,0.695567,-0.230522,0.745927,0.451140,0.153461,0.220760,0.263686,-0.011744,NaN,0.182693
5212,0a6d80e9fce1fb0,0,negative,f,f,t,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5214,60798ee10789b55,19,negative,f,f,t,-2.533002,-2.403267,-1.145504,1.020415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.335586,NaN
5226,482a960eb07d3cd,16,positive,f,f,t,-0.427254,-0.210308,-1.271122,-0.325903,...,1.294485,-0.138313,0.666165,0.342491,0.495581,0.549617,2.087693,-1.475128,NaN,0.182693
5232,527e4115cf86b6b,14,negative,f,f,t,-0.038148,-0.210308,-0.454604,-1.560029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5244,97b71d6ad455dd2,0,negative,f,f,t,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5246,551463e135f1e09,0,negative,f,f,t,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5251,57c883b4579eea9,0,negative,f,f,t,-2.533002,-2.465924,3.037579,-0.774677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5254,cfa1522418dc528,0,negative,f,f,t,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5257,0edc1a366792b62,0,negative,f,f,t,-2.418559,-2.152643,0.952319,-1.672222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5437,df139cee305d59f,0,negative,f,f,t,-2.121008,-2.340612,0.952319,-0.774677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5466,c19b361d6ab2051,0,negative,f,f,t,-1.182576,-0.836868,-0.693278,-0.101517,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5511,f1cef41f035ade9,0,negative,f,f,t,-1.159688,-1.275460,3.276253,-0.438097,...,-0.031689,3.236524,-0.889204,-2.892838,1.788034,1.453973,-0.893480,2.110164,NaN,-1.975370